
@{
    ViewBag.Title = "Create";
}

<h2>Registration</h2>
<form method="post">
    <input type="text" name="Id" value="" class="form-control" /><br />
    <input type="text" name="Name" value="" class="form-control" /><br />
    <input type="text" name="Email" value="" class="form-control" /><br />
    <input type="date" name="DateOfBirth" value="" class="form-control" /><br />
    <input type="submit" accept="" class="btn btn-primary" value="Create" />
</form>


